* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 16px 200px 0px 200px;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

button {
    color: antiquewhite;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 16px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.rightlinks {
    margin-left: auto;
}

.topbox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
    
    display: flex;
    flex-direction: column;
}

.topbox-container {
    margin: 100px 200px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.topbox-content {
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 8px;
}

.topbox-content h1 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.img-placeholder {
    height: 250px;
    width: 500px;
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cardbox {
    color: #1f2937;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cardbox h2 {
    font-size: 36px;
    color: #1f2937;
}

.cardbox-content {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    flex-basis: 100px;
}

.card p {
    display: flex;
    text-align: center;
}

.square {
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    border-radius: 8px;
}

.quotebox {
    background-color: #e5e7eb;
    padding: 100px 250px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 32px;
    font-style: italic;
    color: #1f2937
    flex: 1;
}

.attribution {
    font-weight: 700;
    flex: 1;
    margin-left: auto;
}

.bottombox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.bottombox-content {
    color: aliceblue;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 40px 60px;
    margin: 100px 200px;
    display: flex;
    justify-content: space-between;
}

.footer {
    color: aliceblue;
    background-color: rgba(7, 80, 122, 0.774);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}